.portrait {
    width: 12em;
    height: 12em;
    margin: 1em;
    border: 3px solid black;
    border-radius: 0.5em;
    text-align: center;
}

.portrait img{
    width: 100%;
    height: 100%;
}

.characterCard{
    margin: 1em;
    border: 3px solid black;
    border-radius: 0.5em;
    display: flex;
}

#mainContainer{
    display: flex;
    justify-content: space-evenly;
}

#searchform{
    width: 15%;
}

#cardLibrary{
    width: 80%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
}

#categoryLibrary{
    display: flex;
}